mixin smallGame(title, caption, imageUrl, link)
    div.game.small.col-xs-6
        img.game-image(src=imageUrl)
        div.captions
            a.game-title(a href=link)= title
            div.game-caption= caption
