body.index {
    background: $bold-color;
    color: white;

    .header {
        margin-top: 3em;
    }

    .links-section {
        margin-top: 2em;
    }

    .leader {
        font-size: 2em;
    }

    img.game-image {
        width: 100%;
    }

    .captions {
        margin-top: 1em;
        width: 100%;
        text-align: center;

        .game-title {
            font-weight: 400;
            font-size: 1.2em;
        }

        .game-caption {

        }
    }

    .game {
        margin-bottom: 2em;
    }

    .game.small {

        float: left;

        img.game-image {
            width: 100%;
        }

        .captions {
            width: 100%;
        }
    }

    .games {
        margin-top: 12em;
    }

    .contact-options {
        margin-top: 6em;
        text-align: center;
        font-size: 1.4em;
    }
}
