include ../components/footer.pug
include ../components/infoLabel.pug

doctype html
html(lang="en")
  head
    title TwoPM - About

    <meta name="viewport" content="width=device-width, initial-scale=1">

    include ../favicon.pug
    include ../styles.pug
    include ../ga.html

  body.about.inverted

    div.container

        h1 About
        div
            a(href="index") &#8592; Take Me Home

        div.row.header
            div.col-md-4.about-logo-col
                div.about-logo
            div.col-md-8
                div.about-copy
                    p
                        | <a href="index">Two PM</a> is a game studio who have been making games together for <span id="yearCount">_</span> years and for some reason haven't given up.

                    p It's about making things we love and having fun at the same time. We do a lot of other stuff other than making games, so we're usually doing it in our spare time.

                    p It's like the feeling of kicking back with an afternoon tea (or coffee, beer, whatever). Take a sip.

        div.row.people
            div.col-md-6.right-align

                +infoLabel("Ben Follington", 'Technical "Director"')

                p Ben does a lot of the programming and art for projects.

                p He made this website.

                +infoLabel("Twitter")
                    a(href="https://twitter.com/vivavolt") @vivavolt

                +infoLabel("Favourite Snack")
                    em "Anything I can take a BYTE out of HAHAHAHAHAHAHAHA"

                +infoLabel("But Really Though...?")
                    em "HAHAHAHAHA"

            div.col-md-6.left-align

                +infoLabel("Ricky James", 'Creative "Director"')

                p Ricky does a lot of the writing and the design for projects.

                p He did not make this website, but he approved of it.

                +infoLabel("Twitter")
                    a(href="https://twitter.com/iammonshushu") @iammonshushu

                +infoLabel("Star Sign", 'Libra, with the eyebrows of a Leo')

                +infoLabel("Catch Phrase")
                    em "Make the game"

        +footer(false)

        include ../year-counter.pug
