include ../components/footer.pug
include ../components/infoLabel.pug

doctype html
html(lang="en")
  head
    title TwoPM - About

    <meta name="viewport" content="width=device-width, initial-scale=1">

    include ../favicon.pug
    include ../styles.pug
    include ../ga.html

  body.about.inverted

    div.container

        h1 About
        div
            a(href="index") &#8592; Take Me Home

        div.row.header
            div.col-md-4.about-logo-col
                div.about-logo
            div.col-md-8
                div.about-copy
                    p
                        | <a href="index">Two PM</a> is a game design collective made up of two best friends. We've been making games for more than <span id="yearCount">_</span> years and we're still just getting started.

                    p We want to make the best games we can make. We think things through. We aren't afraid to change our minds. We're passionate about our work, but calm when executing it. For us, making games is like kicking back with a cup of tea. 

                    p Breathe in, breathe out, let go and enjoy.

        div.row.people
            div.col-md-6.right-align

                +infoLabel("Ben Follington", 'Technical "Director"')

                p Ben does programming and art.

                +infoLabel("Twitter")
                    a(href="https://twitter.com/vivavolt") @vivavolt

                +infoLabel("Favourite Snack")
                    em "Anything I can take a BYTE out of HAHAHAHAHAHAHAHA"

                +infoLabel("But Really Though...?")
                    em "HAHAHAHAHA"

            div.col-md-6.left-align

                +infoLabel("Ricky James", 'Creative "Director"')

                p Ricky does writing and design.

                +infoLabel("Twitter")
                    a(href="https://twitter.com/iammonshushu") @iammonshushu

                +infoLabel("Star Sign", 'Libra, with the eyebrows of a Leo')

                +infoLabel("Catch Phrase")
                    em "Make the game"

        +footer(false)

        include ../year-counter.pug
