include ../components/game.pug
include ../components/smallGame.pug
include ../components/footer.pug

doctype html
html(lang="en")
  head
    title Two PM
    
    include ../favicon.pug
    include ../styles.pug
    
  body.index
    
    div.container
        
        h1 Hey!
        
        div.row.header
            div.col-xs-12
                span.leader <a href="about">Two PM</a> is the name of our studio, where we make things. Mostly those things are games, but other things too. We're <a href="about">two friends</a> from Brisbane, Australia, making things around two pm every weekend.
                
        div.row
            div.col-xs-12.right-align.links-section
                ul.horizontal
                    li 
                        a(href="https://tearoom.twopm.studio") The Tea Room (Our Blog)
                    li 
                        a(href="http://twopm.itch.io") Games on itch.io
                    li 
                        a(href="http://github.com/bfollington") Code on Github
                    //- li 
                    //-     a(href="#") Merch on Redbubble (Coming soon...)
        
        div.row
            div.col-xs-12.col-md-6
                div.large-logo
            div.col-xs-12.col-md-6
            
                div.games
                    
                    +game("The Thin Silence (PC)", "The Thin Silence is a narrative adventure game told through introspection and recollection, follow the journey of Ezra from his self-imposed exile to forgiveness and hope.", "img/TTS.png", "the-thin-silence")
                    
                    div.row 
                        +smallGame("It's Hard To Be A Cube (PC)", "A ROM-hack inspired speedrun platformer about a gutsy cube.", "img/IHTBAC.png", "https://twopm.itch.io/its-hard-to-be-a-cube")
                        +smallGame("Nightmerica (iOS)", "A fight to the death against your own mind.", "img/USN.png", "usn")
                   
                    div.row 
                        +smallGame("Unhain My Heart (iOS)", "A zen puzzle game experience", "img/UnchainMyHeart.png", "umh")
                        +smallGame("RunRunDie! (iOS)", "An ultra-hard auto-runner where you just need to stop being on fire.", "img/RRD.jpg", "runrundie")
                    
                    div.row 
                        +smallGame("EverEternal WinterWorld (PC)", "A bizarre Christmas adventure.", "img/EEWW.png", "https://twopm.itch.io/evereternal-winterworld")
                        +smallGame("EverEternal WinterWorld 2 (PC)", "An almost finished sequel to a bizarre Christmas adventure.", "img/EEWW2.png", "https://twopm.itch.io/evereternal-winterworld-2")

                    div.row
                        p.more-games
                            <a title="More games by TwoPM Studios" href="http://twopm.itch.io">and more...</a>
        
        div.row
            div.col-xs-12
                div.contact-options
                    p You can <a href="about">learn more about us</a>
                    p You can <a href="presskit">read our presskit</a>
                    p You can email us at <a href="#"><script type="text/javascript">document.write('mail.twopm&#x00040;' + 'gmail&#x0002E;com')</script></a>
                    p Or you can tweet us <a href="https://twitter.com/vivavolt">@vivavolt</a> and <a href="https://twitter.com/iammonshushu">@iammonshushu</a>

        +footer(true)
        
        include ../ga.html
