include ../components/game.pug
include ../components/smallGame.pug
include ../components/footer.pug

doctype html
html(lang="en")
  head
    title Two PM
    
    include ../favicon.pug
    include ../styles.pug
    
  body.index
    
    div.container
        
        h1 Hi
        
        div.row.header
            div.col-xs-12
                span.leader <a href="about">Two PM</a> is the name which we use to make things. Mostly those things are games, but other things too. We're <a href="about">two guys</a> from Brisbane, Australia, making things around two pm every weekend.
                
        div.row
            div.col-xs-12.right-align.links-section
                ul.horizontal
                    li 
                        a(href="https://tearoom.twopm.studio") The Tea Room (Our Blog)
                    li 
                        a(href="http://twopm.itch.io") Games on itch.io
                    li 
                        a(href="http://github.com/bfollington") Code on Github
                    //- li 
                    //-     a(href="#") Merch on Redbubble (Coming soon...)
        
        div.row
            div.col-xs-12.col-md-6
                div.large-logo
            div.col-xs-12.col-md-6
            
                div.games
                    
                    +game("The Thin Silence", "Our biggest project yet", "img/TTS.png", "the-thin-silence")
                    
                    div.row 
                        +smallGame("It's Hard To Be A Cube", "A super hard, made-in-one-week game.", "img/IHTBAC.png", "https://twopm.itch.io/its-hard-to-be-a-cube")
                    
                        +smallGame("EverEternal WinterWorld 2", "An almost finished sequel to a bizarre Christmas adventure.", "img/EEWW2.png", "https://twopm.itch.io/evereternal-winterworld-2")
                    
                    div.row 
                        +smallGame("EverEternal WinterWorld", "A bizarre Christmas adventure.", "img/EEWW.png", "https://twopm.itch.io/evereternal-winterworld")
        
        div.row
            div.col-xs-12
                div.contact-options
                    p You can email us at <a href="#"><script type="text/javascript">document.write('mail.twopm&#x00040;' + 'gmail&#x0002E;com')</script></a>
                    p Or you can tweet us <a href="https://twitter.com/vivavolt">@vivavolt</a> and <a href="https://twitter.com/iammonshushu">@iammonshushu</a>

        +footer(true)
        
        include ../ga.html
