include ../components/footer.pug
include ../components/infoLabel.pug

doctype html
html(lang="en")
  head
    
    include ../favicon.pug
    include ../styles.pug
    include ../ga.html
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap" rel="stylesheet">

    <title>The Song of The Fae - TwoPM Studios</title>
    <meta name="title" content="The Song of The Fae - TwoPM Studios">
    <meta name="description" content="A turn-based tactics adventure about fame, foul-play, family and fae.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://twopm.studio/sotf">
    <meta property="og:title" content="The Song of The Fae - TwoPM Studios">
    
    <meta property="og:description" content="A turn-based tactics adventure about fame, foul-play, family and fae.">
    <meta property="og:image" content="https://i.imgur.com/0wSLt2M.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://twopm.studio/sotf">
    <meta property="twitter:title" content="The Song of The Fae - TwoPM Studios">
    <meta property="twitter:description" content="A turn-based tactics adventure about fame, foul-play, family and fae.">
    <meta property="twitter:image" content="https://i.imgur.com/0wSLt2M.png">  
    
  body.sotf
  
    div.wrapper
        div.header
            div
                a(href="index") &#8592; Back to TwoPM Studios
        
        
        div.game-header
                div.sotf-logo
                div
                  .tagline
                      span A turn-based tactics adventure about fame, foul-play, family and fae.

        <iframe class="trailer" src="https://www.youtube.com/embed/2kG2xXN-SH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        div.images.no-padding
            .image-row
                div.side-image
                    a.no-hover(href="img/sotf/1.png")
                        img.clickable(src="img/sotf/1.png" alt="The Song of the Fae")
                div.side-image
                    a.no-hover(href="img/sotf/2.png")
                        img.clickable(src="img/sotf/2.png" alt="The Song of the Fae")
            .image-row
                div.side-image
                    a.no-hover(href="img/sotf/3.png")
                        img.clickable(src="img/sotf/3.png" alt="The Song of the Fae")
                div.side-image
                    a.no-hover(href="img/sotf/4.png")
                        img.clickable(src="img/sotf/4.png" alt="The Song of the Fae")
            .image-row
                div.side-image
                    a.no-hover(href="img/sotf/5.png")
                        img.clickable(src="img/sotf/5.png" alt="The Song of the Fae")
                div.side-image
                    a.no-hover(href="img/sotf/6.png")
                        img.clickable(src="img/sotf/6.png" alt="The Song of the Fae")

        .spacer-3
        div
            .callout
                h4 Playable Demo
                p Our second public demo, The WizardChess Update, is live now! 
                div
                  a(href="https://twopm.itch.io/bard-game").primary-button.no-hover Play on itch.io
                  .inline-spacer
                  a(href="https://store.steampowered.com/app/1274210").primary-button.no-hover Play on Steam
        
        .spacer-2

        div
            div.main-copy.justify-align
                h3 What on earth is this!?
                p The Song of The Fae is an episodic turn-based tactics adventure inspired by ancient chess variants. 

                h3 Tell me more...

                p The Song of The Fae is a story of a selfish bard caught in the struggle between the Fae Pantheon, the FaeQueen and all of humanity. You will master WizardChess, a bizarre magical game invented by the Fae, that is equal parts speed-chess and roulette.

                p In WizardChess you must charm units to aid you in your battles then seconds later sacrifice them. Unlike Chess your units are ephemeral, the lineup constantly evolving with each turn that passes. Learning to shape this process is the key to surviving an encounter with the Fae.

                h3 WizardChess!?

                p Legend has it that the Fae, in order to ward off their eternal boredom, host a WizardChess tournament every year. Whoever is crowned champion is granted a single boon from the FaeQueen herself. And somehow you've ended up as a contestant. 

                p Never before has a mortal been given the chance to enter. Will you triumph or perish along the way? And what boon will you choose..?

                p To make it out alive you must face each of the Fae and defeat them at their own game. Perhaps you will even learn the truth about who they are along way the way. Each episode of The Song of The Fae brings with it unique restrictions and challenges that can only be overcome with new strategies, new units to command and plenty of luck.

                p See you in the Songlands.

                p 
                    strong The game is still very much in development and this is a public preview. It is not representative of the quality we are aiming for. Regardless, we'd love to know what you think! 

                h3 The Team

                p <a href="/">TwoPM</a> consists of Ben Follington (<a href="https://twitter.com/vivavolt">@vivavolt</a>) and Ricky James (<a href="https://twitter.com/iammonshushu">@iammonshushu</a>), both based in sunny Queensland, Australia. We've been best friends for about 15 years and have been making games for almost as long. Game design and long-term creative projects have become a central pillar in our lives, despite the fact we do most of our work on nights and weekends.

                p By day Ben is a software engineer & UI designer, while Ricky is a rural doctor. When it comes to games Ben is responsible for all things technical and pixel art while Ricky focuses on project vision, writing and design. As time goes on we plan to continuously improve our processes and our work, hopefully letting us make game development a bigger part of our lives than it already is.


                .meta-panel
                    h3 Like What You See?

                    p You can follow along with development and share your thoughts, comments and feedback:

                    ul.social-list
                      li.social-row
                          .title 🐦 twitter
                          .content
                            a(href="https://twitter.com/vivavolt") @vivavolt
                            .inline-spacer
                            a(href="https://twitter.com/iammonshushu") @iammonshushu
                      li.social-row
                          .title 🎮 discord
                          .content
                            a(href="https://discord.gg/mt4GdRu") click here to join
                      li.social-row
                          .title ✉️ mailing list
                          .content
                            include ../mailchimp-sotf.html
                            .spacer-1
                            p.mailing-list-disclaimer we solemnly swear not to share your email address with anyone and to only contact you occasionally with development updates about work we’re doing

        .center
            .footer-logo

