include ../components/footer.pug
include ../components/infoLabel.pug

doctype html
html(lang="en")
  head
    
    include ../favicon.pug
    include ../styles.pug
    include ../ga.html
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap" rel="stylesheet">

    <title>The Song of The Fae (SoTF) - TwoPM Studios - Chess X Deckbuilding X Roguelite = WizardChess</title>
    <meta name="title" content="The Song of The Fae (SoTF) - TwoPM Studios - Chess X Deckbuilding X Roguelite = WizardChess">
    <meta name="description" content="A deckbuilding roguelike where Chess meets Magic: The Gathering.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://twopm.studio/sotf">
    <meta property="og:title" content="The Song of The Fae (SoTF) - A Deckbuilding Chess-like - TwoPM Studios">
    
    <meta property="og:description" content="A deckbuilding roguelike where Chess meets Magic: The Gathering.">
    <meta property="og:image" content="https://i.imgur.com/0wSLt2M.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://twopm.studio/sotf">
    <meta property="twitter:title" content="The Song of The Fae (SoTF) - A Deckbuilding Chess-like - TwoPM Studios">
    <meta property="twitter:description" content="A deckbuilding roguelike where Chess meets Magic: The Gathering.">
    <meta property="twitter:image" content="https://i.imgur.com/0wSLt2M.png">  
    
  body.sotf
  
    div.wrapper
        div.header
            div
                a(href="index") &#8592; Back to TwoPM Studios
        
        
        div.game-header
                div.sotf-logo
                div
                  .tagline
                      span A deckbuilding roguelike where Chess meets Magic: The Gathering.

        <iframe class="trailer" src="https://www.youtube.com/embed/2kG2xXN-SH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        div.images.no-padding
            .image-row
                div.side-image
                    a.no-hover(href="img/sotf/1.png")
                        img.clickable(src="img/sotf/1.png" alt="The Song of the Fae")
                div.side-image
                    a.no-hover(href="img/sotf/2.png")
                        img.clickable(src="img/sotf/2.png" alt="The Song of the Fae")
            .image-row
                div.side-image
                    a.no-hover(href="img/sotf/3.png")
                        img.clickable(src="img/sotf/3.png" alt="The Song of the Fae")
                div.side-image
                    a.no-hover(href="img/sotf/4.png")
                        img.clickable(src="img/sotf/4.png" alt="The Song of the Fae")
            .image-row
                div.side-image
                    a.no-hover(href="img/sotf/5.png")
                        img.clickable(src="img/sotf/5.png" alt="The Song of the Fae")
                div.side-image
                    a.no-hover(href="img/sotf/6.png")
                        img.clickable(src="img/sotf/6.png" alt="The Song of the Fae")

        .spacer-3
        div
            .callout
                h1 Early Access
                p The game is now available on itch.io and Steam in Early Access. We'd love to hear what you think but if you'd prefer to wait until the full release you might enjoy following the <a class="inverted" href="https://www.youtube.com/channel/UC_FmM3IJYVvDXJ15GSgSj9A">devlog</a>.
                div
                  a(href="https://twopm.itch.io/bard-game").primary-button.no-hover Play on itch.io
                  .inline-spacer
                  a(href="https://store.steampowered.com/app/1274210").primary-button.no-hover Play on Steam
                  .inline-spacer
                  a(href="https://www.patreon.com/twopm").primary-button.no-hover Support us on Patreon
        
        .spacer-2

        div
            div.main-copy.justify-align
                h1 Welcome to the Songlands
                p <strong>The Fae</strong> have watched over this world since time eternal, gently steering destiny along its tracks. To be honest though, there's not <em>that</em> much to do. Nothing of any Fae-level importance has happened in hundreds of years... Until now. 

                p Introducing "<strong>The Bard</strong>", an egomaniacal adventurer determined to leave their mark on history. Somehow <strong>The Bard</strong> has been invited to the annual <strong>WizardChess</strong> tournament, a contrived magical battle hosted by the Fae, for the Fae. 

                p The game? A deckbuilding chess-like that's simple to pick up but near impossible to master. 

                p And the prize? A boon from the <strong>FaeQueen</strong> herself.

                p Step into the shoes of <strong>The Bard</strong>, master <strong>WizardChess</strong> and scribble your name all over history. <strong>The Song of The Fae</strong> is yet to be written.

                h1 Key Features
                ul
                    li Deeply Strategic: it's chess meets turn-based tactics, one move can (and will) change the entire game.
                    li Build your Army: recruit, sacrifice, trade and gamble your units away to create the ultimate build.
                    li Battle the Fae: use the power of board games to defeat the Fae in unique boss battles.
                    li Massively Replayable: every run in SoTF is procedurally generated, down to the encounters, enemies, units, statistics and even the AI. 

                p 
                    strong The game is still in active development and will change substantially before full release. Regardless, we've got plenty to show you.

                h1 The Team
                p <a href="/">TwoPM</a> consists of Ben Follington (<a href="https://twitter.com/vivavolt">@vivavolt</a>) and Ricky James (<a href="https://twitter.com/iammonshushu">@iammonshushu</a>), both based in Queensland, Australia. We've been best friends for about 15 years and have been making games for almost as long. We both have jobs and can only work on games during nights and weekends so we like to build projects both patiently and strategically. 

                p 
                    em  Financial support of SoTF or any of our other work will allow us to dedicate more time to game development and deliver content faster.

                .meta-panel
                    h1 Like What You See?

                    p You can follow along with development and share your thoughts, comments and feedback:

                    ul.social-list
                      li.social-row
                          .title 🐦 twitter
                          .content
                            a(href="https://twitter.com/vivavolt") @vivavolt
                            .inline-spacer
                            a(href="https://twitter.com/iammonshushu") @iammonshushu
                      li.social-row
                          .title ️🎁 support
                          .content
                            a.button.primary-button.no-hover(href="https://www.patreon.com/twopm") Support us on Patreon
                      li.social-row
                          .title 🎥 devlog
                          .content
                            a.button.primary-button.no-hover(href="https://www.youtube.com/channel/UC_FmM3IJYVvDXJ15GSgSj9A") Watch the Devlog
                      li.social-row
                          .title 🎮 community
                          .content
                            a.button.primary-button.no-hover(href="https://discord.gg/mt4GdRu") Join our Discord
                      li.social-row
                          .title ✉️ newsletter
                          .content
                            a.button.primary-button.no-hover(href="https://twopm.substack.com/") Subscribe on Substack

        .center
            .footer-logo

