include ../components/footer.jade
include ../components/infoLabel.jade

doctype html
html(lang="en")
  head
    title Two PM - About
    
    include ../favicon.jade
    include ../styles.jade
    
  body.about.inverted
    
    div.container
        
        h1 About
        
        div.row.header
            div.col-md-4.about-logo-col
                div.about-logo
            div.col-md-8
                div.about-copy
                    p 
                        | <a href="index.html">Two PM</a> is a game design collective who have been making games together for 10 years and for some reason haven't given up.

                    p It's about making things we love but not taking everything too seriously. We've always had a lot of other stuff to worry about other than making games, so we're usually making them in our free time.

                    p Making games for us is like the feeling of kicking back with an afternoon tea, coffee, beer (or other). We love it.

        div.row.people
            div.col-md-6.right-align
            
                +infoLabel("Ben Follington", 'Technical "Director"')
                
                p Ben is the guy who does a lot of the programming and art for projects.

                p He made this website.
                
                +infoLabel("Twitter")
                    a(href="https://twitter.com/vivavolt") @vivavolt
                
                +infoLabel("Favourite Snack")
                    em "Make the game"
                
                +infoLabel("But Really Though...?")
                    em "HAHAHAHAHA"
            
            div.col-md-6.left-align
            
                +infoLabel("Ben Follington", 'Creative "Director"')
                
                p Ricky is the guy who does a lot of the writing and the design for projects.

                p He did not make this website, but he approved of it.
                
                +infoLabel("Twitter")
                    a(href="https://twitter.com/iammonshushu") @iammonshushu
                
                +infoLabel("Star Sign", 'Libra, with the eyebrows of a Leo')
                
                +infoLabel("Catch Phrase")
                    em "Make the game"

        +footer(false)
