doctype html
html(lang="en")
  head
    title Two PM - About
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="http://brick.a.ssl.fastly.net/Fira+Sans:300,400")
    
    link(rel="stylesheet" type="text/css" href="build.css")
  body.about.inverted
    
    div.container
        
        h1 About
        
        div.row.header
            div.col-md-4.about-logo-col
                div.about-logo
            div.col-md-8
                div.about-copy
                    p Two PM is a game design collective who have been making games together for 10 years and for some reason haven't given up.

                    p It's about making things we love but not taking everything too seriously. We've always had a lot of other stuff to worry about other than making games, so we're usually making them in our free time.

                    p Making games for us is like the feeling of kicking back with an afternoon tea, coffee, beer (or other). We love it.

        div.row.people
            div.col-md-6.right-align
                div.bold-label Ben Follington
                div.label-content Technical "Director"
                
                p Ben is the guy who does a lot of the programming and art for projects.

                p He made this website.
                
                div.bold-label Twitter
                div.label-content <a href="https://twitter.com/vivavolt">@vivavolt</a>
                
                div.bold-label Favourite Snack
                div.label-content <em>"Anything I can take a BYTE out of HAHAHAHAHAHAHAHA"</em>
                
                div.bold-label But Really Though...?
                div.label-content <em>"HAHAHAHAHA"</em>
            
            div.col-md-6.left-align
                div.bold-label Ricky James
                div.label-content Creative "Director"
                
                p Ricky is the guy who does a lot of the writing and the design for projects.

                p He did not make this website, but he approved of it.
                
                div.bold-label Twitter
                div.label-content <a href="https://twitter.com/iammonshushu">@iammonshushu</a>
                
                div.bold-label Star Sign
                div.label-content Libra, with the eyebrows of a Leo
                
                div.bold-label Catch Phrase
                div.label-content <em>"Make the game"</em>

        div.row
            footer.footer
                div.footer-logo.dark
                //- p.copyright &copy; 2016
