doctype html
html(lang="en")
  head
    title Two PM
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="http://brick.a.ssl.fastly.net/Fira+Sans:300,400")
    
    link(rel="stylesheet" type="text/css" href="build.css")
  body.index
    
    div.container
        
        h1 Hi
        
        div.row.header
            div.col-xs-12
                span.leader <a href="/">Two PM</a> is the name which we use to make things. Things like games, but maybe other things too. We're <a href="about.html">two guys</a> from Brisbane, Australia.
        
        div.row
            div.col-xs-12.col-md-6
                div.large-logo
            div.col-xs-12.col-md-6
                div.games
                
                    div.game
                        img.game-image(src="img/TTS.png")
                        div.captions
                            a.game-title(a href="tts.html") The Thin Silence
                            div.game-caption Our first major release
        
        div.row
            div.col-xs-12
                div.contact-options
                    p You can email us at <a href="#"><script type="text/javascript">document.write('hey&#x00040;' + 'twopm&#x0002E;studio')</script></a>
                    p Or you can tweet us <a href="https://twitter.com/vivavolt">@vivavolt</a> and <a href="https://twitter.com/iammonshushu">@iammonshushu</a>

        div.row
            footer.footer
                div.footer-logo
                //- p.copyright &copy; 2016
