include ../components/game.jade
include ../components/smallGame.jade
include ../components/footer.jade

doctype html
html(lang="en")
  head
    title Two PM
    
    include ../favicon.jade
    include ../styles.jade
    
  body.index
    
    div.container
        
        h1 Hi
        
        div.row.header
            div.col-xs-12
                span.leader <a href="#">Two PM</a> is the name which we use to make things. Things like games, but maybe other things too. We're <a href="about">two guys</a> from Brisbane, Australia, making things around two pm every weekend.
                
        div.row
            div.col-xs-12.right-align.links-section
                ul.horizontal
                    li 
                        a(href="http://twopm.itch.io") Games on itch.io
                    li 
                        a(href="http://github.com/bfollington") Code on Github
                    //- li 
                    //-     a(href="#") Merch on Redbubble (Coming soon...)
        
        div.row
            div.col-xs-12.col-md-6
                div.large-logo
            div.col-xs-12.col-md-6
            
                div.games
                    
                    +game("The Thin Silence", "Our first major release", "img/TTS.png", "the-thin-silence")
                    
                    div.row 
                        +smallGame("It's Hard To Be A Cube", "A super hard, made-in-one-week game.", "img/IHTBAC.png", "https://twopm.itch.io/its-hard-to-be-a-cube")
                    
                        +smallGame("Nightmerica", "A wave based shooter with randomly generated guns.", "img/USN.png", "https://itunes.apple.com/us/app/nightmerica-usn/id596231696?mt=8")
                    
                    div.row 
                        +smallGame("Unchain My Heart", "A puzzle game about makin' chainz.", "img/UnchainMyHeart.png", "https://itunes.apple.com/au/app/unchain-my-heart/id578858339?mt=8")
                    
                        +smallGame("EverEternal WinterWorld 2", "An almost finished sequel to a bizarre Christmas adventure.", "img/EEWW2.png", "https://twopm.itch.io/evereternal-winterworld-2")
                    
                    div.row 
                        +smallGame("EverEternal WinterWorld", "A bizarre Christmas adventure.", "img/EEWW.png", "https://twopm.itch.io/evereternal-winterworld")
        
        div.row
            div.col-xs-12
                div.contact-options
                    p You can email us at <a href="#"><script type="text/javascript">document.write('hey&#x00040;' + 'twopm&#x0002E;studio')</script></a>
                    p Or you can tweet us <a href="https://twitter.com/vivavolt">@vivavolt</a> and <a href="https://twitter.com/iammonshushu">@iammonshushu</a>

        +footer(true)
        
        include ../ga.html
