include ../components/footer.jade
include ../components/infoLabel.jade

mixin gifRow(one, two, three)
    div.row.padding-bottom
        div.col-xs-4
            div.gif-image
                img.clickable(src=one alt="The Thin Silence")
        div.col-xs-4
            div.gif-image
                img.clickable(src=two alt="The Thin Silence")
        div.col-xs-4
            div.gif-image
                img.clickable(src=three alt="The Thin Silence")

doctype html
html(lang="en")
  head
    title The Thin Silence
    
    include ../favicon.jade
    include ../styles.jade
    
  body.game.inverted
  
    //- div.greenlight-message
    //-     p We're on Steam Greenlight! Please <a class="greenlight-link" href="http://steamcommunity.com/sharedfiles/filedetails/?id=719208897">vote for us</a>.
  
    div.header
        div.top-left-corner-logo
        div
            a(href="index") &#8592; Take Me Home
    
    div.container
        
        div.row.game-header
            div.col-xs-12
                div.tts-logo
        
    div#images.no-padding
        div.col-xs-4
            div.side-image
                img.clickable(src="img/screens/steam/a1_3.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/steam/a1_12.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/steam/a1_15.png" alt="The Thin Silence")
        div.col-xs-4
            div.side-image
                img.clickable(src="img/screens/steam/a2_7.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/steam/a2_25.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/steam/a3_17.png" alt="The Thin Silence")
        div.col-xs-4
            div.side-image
                img.clickable(src="img/screens/steam/a3_18.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/steam/a3_19.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/steam/a4_27.png" alt="The Thin Silence")
            
    
    div.container
            
        p
        
        div.row
            div.col-xs-12
                div.trailer 
                    <iframe width="960" height="540" src="https://www.youtube.com/embed/5ze1-9ZIEx0" frameborder="0" allowfullscreen></iframe>
    
        div.row
            div.col-xs-12.center
                <iframe src="http://store.steampowered.com/widget/314630/" frameborder="0" width="640" height="190"></iframe>
        div.row
            div.col-xs-12.center
                <iframe frameborder="0" src="https://itch.io/embed/224116" width="640" height="190"></iframe>


                    
    
        div.row
            div.col-md-6.col-md-offset-1
                div.main-copy.justify-align
                    h2.bold-label About

                    h3 Meet Ezra Westmark
                    p The Thin Silence is a narrative adventure game told through the introspection and recollection of Ezra Westmark. Inspired by games such as Limbo and Knytt Stories, follow the journey of Ezra from his self-imposed exile to forgiveness and hope.

                    p The Thin Silence explores depression, self-doubt, struggles, and trials. Amongst the darkness, the game features that sound, that thin silence, which calls to us in our darkest hours. That sound we can’t hear or describe which somehow gives us the strength to try again and push through obstacles previously insurmountable. It’s not a game about success. 

                    p It’s a game of enduring your worst moment and facing the next one. Walk with Ezra out of the darkness, uncovering the journey that led him there and the hope that leads him home.

                    h3 Experience The Story
                    ul
                        li Enjoy 4-5 hours of unique and varied challenges driven by a fresh item-vs-environment interaction mechanic.
                        li Experience breathtaking vistas &amp; quiet contemplation
                        li Uncover Ezra’s crisis and his journey back, finding answers and a little bit of yourself along the way
                        li Featuring a moving original score by LightFrequency
                        li Over 40 unique in-game documents
                        li Mostly believable hacking sequences
                        li A wolf and a deer (not like, at the same time though)

                    h3 Proud Affiliate Of
                    div.center
                        a.no-background(href="https://checkpoint.org.au/" title="Checkpoint - Connecting Mental Health with Games")
                            img.checkpoint-image(src="img/checkpoint.png" alt="Checkpoint - Connecting Mental Health with Games")

            div.col-md-4
                div.main-copy
                    +infoLabel("Presskit")
                        span View the presskit <a href="presskit">here</a>.
                    
                    +infoLabel("Links")
                        div 
                            span Read the devlog on <a href="https://forums.tigsource.com/index.php?topic=31994">TIGSource</a>.
                    
                    +infoLabel("Production Started", "2013")
                    
                    +infoLabel("Music (and Sound Design)")
                        a(href="https://soundcloud.com/lightfrequency" title="Lightfrequency") Lightfrequency
                    
                    +infoLabel("Contact")
                        div 
                            <a href="#"><script type="text/javascript">document.write('hey&#x00040;' + 'twopm&#x0002E;studio')</script></a><br>
                            <a href="https://twitter.com/vivavolt">@vivavolt</a>
                            <a href="https://twitter.com/iammonshushu">@iammonshushu</a>
                            
        div.row
            div.col-xs-12
                div#gifs
                    +gifRow("img/gifs/barn.gif", "img/gifs/breathe.gif", "img/gifs/climb.gif")
                    +gifRow("img/gifs/get-item.gif", "img/gifs/kick.gif", "img/gifs/pull-bridge.gif")
                    +gifRow("img/gifs/relax.gif", "img/gifs/run.gif", "img/gifs/secret.gif")
                    +gifRow("img/gifs/sitting.gif", "img/gifs/tie-down.gif", "img/gifs/tent.gif")
                    +gifRow("img/gifs/basket.gif", "img/gifs/bridge.gif", "img/gifs/fire.gif")
                    +gifRow("img/gifs/office.gif", "img/gifs/reception.gif", "img/gifs/row.gif")
                    +gifRow("img/gifs/sad.gif",  "img/gifs/shrine.gif", "img/gifs/tree.gif")
    
        +footer(false)

        include ../ga.html
        
        link(href="scripts/viewerjs/viewer.css" rel="stylesheet")
        script(src="scripts/viewerjs/viewer.js")
        
        script(type="text/javascript").
            var options = {
                transition: false
            };
            var viewer = new Viewer(document.getElementById('images'), options);
