include ../components/footer.jade
include ../components/infoLabel.jade

mixin gifRow(one, two, three)
    div.row.padding-bottom
        div.col-xs-4
            div.gif-image
                img.clickable(src=one alt="The Thin Silence")
        div.col-xs-4
            div.gif-image
                img.clickable(src=two alt="The Thin Silence")
        div.col-xs-4
            div.gif-image
                img.clickable(src=three alt="The Thin Silence")

doctype html
html(lang="en")
  head
    title The Thin Silence
    
    include ../favicon.jade
    include ../styles.jade
    
  body.game.inverted
  
    div.greenlight-message
        p We're on Steam Greenlight! Please <a class="greenlight-link" href="http://steamcommunity.com/sharedfiles/filedetails/?id=719208897">vote for us</a>.
  
    div.header
        div.top-left-corner-logo
        div
            a(href="index") &#8592; Take Me Home
    
    div.container
        
        div.row.game-header
            div.col-xs-12
                div.tts-logo
        
    div#images.no-padding
        div.col-xs-4
            div.side-image
                img.clickable(src="img/screens/a4_4.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/a4_2.png" alt="The Thin Silence")
        div.col-xs-4
            div.side-image
                img.clickable(src="img/screens/a4_1.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/a_shavi.png" alt="The Thin Silence")
        div.col-xs-4
            div.side-image
                img.clickable(src="img/screens/a2_1.png" alt="The Thin Silence")
            div.side-image
                img.clickable(src="img/screens/a1_2.png" alt="The Thin Silence")
            
    
    div.container
            
        p
        
        div.row
            div.col-xs-12
                div.trailer 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWjOAPiLBkg" frameborder="0" allowfullscreen></iframe>
    
        div.row
            div.col-xs-12
                div.main-copy
                    div.center-align
                        span Vote for The Thin Silence on <a class="greenlight" href="http://steamcommunity.com/sharedfiles/filedetails/?id=719208897">Steam Greenlight</a>!
                    
                    div.center-align
                        include ../mailchimp.html
    
        div.row
            div.col-md-6.col-md-offset-1
                div.main-copy.justify-align
                    h2.bold-label About

                    p Have you ever felt like giving up? When every task feels like scaling a mountain, every day feels impossible.  

                    p The Thin Silence is an cinematic narrative adventure game with both puzzle and exploration elements, told through the introspection and recollection of Ezra Westmark. Find creative ways to make your way out of the darkness, uncovering the journey that lead him there and the hope that leads him home.

                    p But how can the future be bright when it feels so dark? How can you give meaning to emptiness? And how can you have hope when everything is hopeless? Join Ezra on his journey back to confront his past, overcoming challenges on the way and, hopefully, discovering who he really is. 

                    p Inspired by point-and-click adventure games, TTS allows you to collect and combine important items along your journey. These items and their combinations can be used to manipulate the environment in many varied and unexpected ways. Obstacles are not intended as a test of your intelligence. Rather, you are facing the same challenges that Ezra faces and thinking creatively to overcome them. Do not expect to solve the same puzzle over and over again.

                    p An average playthrough may take anywhere from 2 to 10 hours - the world is rich and varied, designed to be savoured. Please take the time to experience it - this game is not intended to be completed quickly or an excessive number of times. It is intended (like The Beginner&#39;s Guide, Gone Home, Firewatch etc.) to be a conversation, a 21st century recurrence of an ancient pastime. Sit and stare into the fire, and we&#39;ll tell you a story.

            div.col-md-4
                div.main-copy
                    +infoLabel("Presskit")
                        span View the presskit <a href="presskit">here</a>.
                    
                    +infoLabel("Links")
                        div 
                            span Vote for The Thin Silence on <a class="greenlight" href="http://steamcommunity.com/sharedfiles/filedetails/?id=719208897">Steam Greenlight</a>!
                            br
                            span Read the devlog on <a href="https://forums.tigsource.com/index.php?topic=31994">TIGSource</a>.
                    
                    +infoLabel("Production Started", "2013")
                    
                    +infoLabel("Music (and Sound Design)")
                        a(href="https://soundcloud.com/nitelyte3d" title="Nitelyte3d") Nitelyte3d
                    
                    +infoLabel("Contact")
                        div 
                            <a href="#"><script type="text/javascript">document.write('hey&#x00040;' + 'twopm&#x0002E;studio')</script></a><br>
                            <a href="https://twitter.com/vivavolt">@vivavolt</a>
                            <a href="https://twitter.com/iammonshushu">@iammonshushu</a>
                            
        div.row
            div.col-xs-12
                div#gifs
                    +gifRow("img/gifs/barn.gif", "img/gifs/breathe.gif", "img/gifs/climb.gif")
                    +gifRow("img/gifs/get-item.gif", "img/gifs/kick.gif", "img/gifs/pull-bridge.gif")
                    +gifRow("img/gifs/relax.gif", "img/gifs/run.gif", "img/gifs/secret.gif")
                    +gifRow("img/gifs/sitting.gif", "img/gifs/tie-down.gif", "img/gifs/tent.gif")
                    +gifRow("img/gifs/basket.gif", "img/gifs/bridge.gif", "img/gifs/fire.gif")
                    +gifRow("img/gifs/office.gif", "img/gifs/reception.gif", "img/gifs/row.gif")
                    +gifRow("img/gifs/sad.gif",  "img/gifs/shrine.gif", "img/gifs/tree.gif")
    
        +footer(false)

        include ../ga.html
        
        link(href="scripts/viewerjs/viewer.css" rel="stylesheet")
        script(src="scripts/viewerjs/viewer.js")
        
        script(type="text/javascript").
            var options = {
                transition: false
            };
            var viewer = new Viewer(document.getElementById('images'), options);
