include ../components/footer.jade
include ../components/infoLabel.jade

doctype html
html(lang="en")
  head
    title The Thin Silence
    
    include ../favicon.jade
    include ../styles.jade
    
  body.game.inverted
  
    div.header
        div.top-left-corner-logo
    
    div.container
        
        div.row.game-header
            div.col-xs-12
                div.tts-logo
                
    div.images
        div.col-xs-3
            div.side-image
                img(src="img/TTS.png")
            div.side-image
                img(src="img/TTS.png")
        div.col-xs-6
            div.main-image
                img(src="img/TTS.png")
        div.col-xs-3
            div.side-image
                img(src="img/TTS.png")
            div.side-image
                img(src="img/TTS.png")
    
    div.container
    
        div.row
            div.col-md-6.col-md-offset-1
                div.main-copy.right-align
                    div.bold-label About
                    br
                    
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan, diam tincidunt viverra scelerisque, neque lectus ultrices ante, at hendrerit lorem velit sit amet massa. Nam ac neque quis ante rhoncus convallis ut id nisl. Integer facilisis, libero vitae feugiat tincidunt, massa nisi tincidunt nibh, non dictum nisi augue in turpis. Mauris et odio a orci sollicitudin rutrum sed eu dui. Sed rhoncus dui at cursus blandit. Pellentesque condimentum est eget dui eleifend, ut pharetra quam euismod. Vivamus commodo aliquam suscipit. Proin dapibus est orci, a venenatis mauris condimentum quis. Ut porta, ex at imperdiet dictum, ligula sapien facilisis ante, sed dignissim nulla elit feugiat ex. Vivamus egestas lacinia ultrices. Mauris eget cursus sem.
                
            div.col-md-4
                div.main-copy
                    +infoLabel("Presskit")
                        span Download the presskit <a href="">here</a>.
                    
                    +infoLabel("Links")
                        div 
                            span Vote for The Thin Silence on <a href="">Steam Greenlight</a>!
                            br
                            span Read the devlog on <a href="">TIGSource</a>.
                    
                    +infoLabel("Production Started", "5th March 2015")
                    
                    
                    +infoLabel("Contact")
                        div 
                            <a href="#"><script type="text/javascript">document.write('hey&#x00040;' + 'twopm&#x0002E;studio')</script></a><br>
                            <a href="https://twitter.com/vivavolt">@vivavolt</a>
                            <a href="https://twitter.com/iammonshushu">@iammonshushu</a>
    
        +footer(false)
