doctype html
html(lang="en")
  head
    title The Thin Silence
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="http://brick.a.ssl.fastly.net/Fira+Sans:300,400")
    
    link(rel="stylesheet" type="text/css" href="build.css")
  body.game.inverted
  
    div.header
        div.top-left-corner-logo
    
    div.container
        
        div.row.game-header
            div.col-xs-12
                div.tts-logo
                
    div.images
        div.col-xs-3
            div.side-image
                img(src="img/TTS.png")
            div.side-image
                img(src="img/TTS.png")
        div.col-xs-6
            div.main-image
                img(src="img/TTS.png")
        div.col-xs-3
            div.side-image
                img(src="img/TTS.png")
            div.side-image
                img(src="img/TTS.png")
    
    div.container
    
        div.row
            div.col-md-6.col-md-offset-1
                div.main-copy.right-align
                    div.bold-label About
                    br
                    
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan, diam tincidunt viverra scelerisque, neque lectus ultrices ante, at hendrerit lorem velit sit amet massa. Nam ac neque quis ante rhoncus convallis ut id nisl. Integer facilisis, libero vitae feugiat tincidunt, massa nisi tincidunt nibh, non dictum nisi augue in turpis. Mauris et odio a orci sollicitudin rutrum sed eu dui. Sed rhoncus dui at cursus blandit. Pellentesque condimentum est eget dui eleifend, ut pharetra quam euismod. Vivamus commodo aliquam suscipit. Proin dapibus est orci, a venenatis mauris condimentum quis. Ut porta, ex at imperdiet dictum, ligula sapien facilisis ante, sed dignissim nulla elit feugiat ex. Vivamus egestas lacinia ultrices. Mauris eget cursus sem.
                
            div.col-md-4
                div.main-copy
                    div.bold-label Presskit
                    div.label-content Download the presskit <a href="">here</a>.
                    
                    div.bold-label Links
                    div.label-content Vote for The Thin Silence on <a href="">Steam Greenlight</a>!
                    div.label-content Read the devlog on <a href="">TIGSource</a>.
                    
                    div.bold-label Production Started
                    div.label-content 5th March 2015
                    
                    div.bold-label Contact
                    div.label-content 
                        div 
                            <a href="#"><script type="text/javascript">document.write('hey&#x00040;' + 'twopm&#x0002E;studio')</script></a><br>
                            <a href="https://twitter.com/vivavolt">@vivavolt</a>
                            <a href="https://twitter.com/iammonshushu">@iammonshushu</a>
    
        div.row
            footer.footer
                div.footer-logo.dark
                //- p.copyright &copy; 2016
