@import "animations.scss";
@import "logos.scss";

// 0088FF
// 00D676
// 004CD6
// 6D00D6
// D60054
// D63B00
// 4A4A4A
$bold-color: #0088FF;
$normal-color: #4A4A4A;
$greenlight-color: #799905;

@import "pages/index.scss";
@import "pages/about.scss";
@import "pages/game.scss";


body {
    text-decoration: none;

    width: 100%;

    font-size: 16px;

    font-family: "Fira Sans", sans-serif;
    font-weight: 300;

    padding-bottom: 3em;
}

.inverted a {
    color: $normal-color;

    &:active, &:visited {
        color: $normal-color;
    }

    &:hover {
        color: white;
        background: $normal-color;
    }
}

a.greenlight {
    color: $greenlight-color;

    &:active, &:visited {
        color: $greenlight-color;
    }

    &:hover {
        color: white;
        background: $greenlight-color;
    }
}

a {
    text-decoration: underline;
    color: white;
    display: inline-block;
    background: none;

    animation: bounceDown 1000ms linear both;

    &:active, &:visited {
        color: white;
    }

    &:hover {
        background: white;
        animation: bounceUp 1000ms linear both;
        color: $bold-color;
        text-decoration: none;

        padding-left: 5px;
        padding-right: 5px;
        margin-left: -5px;
        margin-right: -5px;

    }

    &.game-image {
        padding: 0px;
    }
}

p {
    margin-bottom: 1em;
}

.footer {
    text-align: center;
}

.copyright {
    margin-top: 1em;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.justify-align {
    text-align: justify;
}

.right-align {
    text-align: right;
}

.bold-label, .label-content {
    font-size: 0.9em;
}

.bold-label {
    font-weight: 400;
}

.label-content {
    margin-bottom: 3em;
}

ul.horizontal li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
